<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.haha233.dal.StuMapper">
    <insert id="insert" parameterType="top.haha233.model.po.StuPo">
        INSERT INTO student (name) VALUES (#{student.name});
    </insert>
    <delete id="delete" parameterType="top.haha233.model.po.StuPo">
        DELETE FROM student
        WHERE id = #{student.id};
    </delete>
    <update id="update" parameterType="top.haha233.model.po.StuPo">
        update student
        <set>
            <if test="student.name!=null">
                name = #{student.name},
            </if>
        </set>
        where id={student.id};
    </update>
    <sql id="selectHread">
        <where>
            <if test="student.name!=null and student.name!=''">
                name like "%"#{student.name}"%"
            </if>
        </where>
    </sql>
    <select id="query" parameterType="top.haha233.model.po.StuPo"
            resultType="top.haha233.model.bo.StuBo">
        select
        id,
        name
        from student
        <include refid="selectHread"/>
        LIMIT #{startIndex},#{count}
    </select>
    <select id="count" parameterType="top.haha233.model.po.StuPo" resultType="int">
        select
        count(id)
        from student
        <include refid="selectHread"/>
    </select>
</mapper>